.category id="category-#{category.id}"
  p= link_to "#{category.name}", admin_category_path(category)
  p= link_to 'Edit', edit_admin_category_path(category)
  p= button_to 'Delete', admin_category_path(category), method: :delete